PORT=
NODE_ENV=
APP_PUBLIC_URL=

ENABLE_CORS=
ENABLE_SWAGGER=

AUDIT_WEBHOOK_URL=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_SCHEMA=
DB_SYNCHRONIZE=

SERVICE_NAME=

JWT_SECRET=
JWT_EXPIRATION=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USERNAME=
SMTP_PASSWORD=

AI_SERVICE_URL=

GOOGLE_GENAI_API_KEY=
GEMINI_EMBEDDING_MODEL_NAME=

GROQ_API_KEY=
GROQ_MODEL_NAME=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# CLOUDFLARE R2 STORAGE CONFIG
R2_ACCOUNT_ID="Lấy dải mã hash nằm ở URL trình duyệt khi bạn ở trang chủ Cloudflare dash.cloudflare.com/<ACCOUNT_ID>"
R2_ACCESS_KEY_ID="Copy ở Bước 3"
R2_SECRET_ACCESS_KEY="Copy ở Bước 3"
R2_BUCKET_NAME="luakhoe-storage"
R2_PUBLIC_DOMAIN="https://pub-xxxxxx.r2.dev" # Copy ở Bước 4

MAX_CONCURRENT_MODELS=1

COHERE_API_KEY=

DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=